<template>
  <nav class="navar navbar-expand-sm navbar-dark bg-info mb-2">
      <div class="container">
          <a href="" class="navbar-brand">Larticles</a>
      </div>
  </nav>
</template>

<script>
export default {

}
</script>

<style>

</style>